
<mat-sidenav-container>
    <mat-sidenav></mat-sidenav>
    <mat-sidenav-content>

        <div layout="row" layout-align="start center" flex>
            <ul flex>
                <li>
                    <button mat-icon-button>
                        <mat-icon>home</mat-icon>
                    </button>
                    <a mat-list-item href="/">Home</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>person</mat-icon>
                    </button>
                    <a mat-list-item href="patients">Patients</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Appointments</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon><article></article></mat-icon>
                    </button>
                    <a mat-list-item href="patients">About</a>
                </li>
            </ul>
            <span flex></span>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
