
<mat-sidenav-container>
    <mat-sidenav></mat-sidenav>
    <mat-sidenav-content>
        <div class="navsection">Circuit Designer</div>
        <div layout="row" layout-align="start center" flex>
            <ul flex>
                <li>
                    <button mat-icon-button>
                        <mat-icon>home</mat-icon>
                    </button>
                    <a mat-list-item href="/">CNOT</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>person</mat-icon>
                    </button>
                    <a mat-list-item href="patients">Hadamard</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Pauli-X</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Pauli-Y</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Pauli-Z</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Phase Gate</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Swap</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Pauli-X</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Pauli-X</a>
                </li>
            </ul>
            <span flex></span>
        </div>
    </mat-sidenav-content>

    <mat-sidenav-content>
        <div class="navsection">Code</div>
        <div layout="row" layout-align="start center" flex>
            <ul flex>
                <li>
                    <button mat-icon-button>
                        <mat-icon>home</mat-icon>
                    </button>
                    <a mat-list-item href="/">Open QASM 3.0</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>person</mat-icon>
                    </button>
                    <a mat-list-item href="patients">Open QASM 2.0</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="appointments">Python</a>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>explore</mat-icon>
                    </button>
                    <a mat-list-item href="patients">Q#</a>
                </li>
            </ul>
            <span flex></span>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
